<!DOCTYPE html>
{%extends "home.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}


{% block body %}
<body id="page-top">


  <!-- Navigation -->
  {% if not user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
       <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/register/">Register</a>
            </li>
            <!---<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
  {% else %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/accounts/profile/{{User}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/chat/testing/">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/post_history/">Post-History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endif %}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Need College Advice?</strong>
            </h1>
              <form autocomplete="off" id = 'form' method='post'>
                {% csrf_token %}
              <div class="form-group">
                {{ form|crispy }}
              </div>
              <div class="form-group">
              </div>
              </form>
          <div class="col-lg-8 mx-auto">
            <button type="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-search"></span> Search 
            </button>
            <p class="text-faded mb-5">Need college advice? Use the search bar to search for your college, city, subject, or whatever you need help for!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/post/">Have advice? Post here!</a>
          </div>
        </div>
      </div>
    </header>


</body>
{% endblock %}

