<!DOCTYPE html>
<!---{%extends "home.html"%}-->
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}


{% block body %}
<html lang="en">
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


<head>
  <!---<link rel="stylesheet" href= "{% static 'css/foundation.css' %}">-->
  
  <!-- Bootstrap core CSS -->
  <link href="{% static 'creative/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'creative/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'creative/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'creative/css/creative.min.css' %}" rel="stylesheet">

  <!-- Search Bar -->
  <link href = "{% static 'css/searchbar.css' %}" rel="stylesheet">

  <!-- Bootstrap -->
  <link href = "{% static 'bootstrap/css/bootsrap.css' %}" rel="stylesheet">
</head>

<body id="page-top">


  <!-- Navigation -->
  {% if not user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
       <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/register/">Register</a>
            </li>
            <!---<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
  {% else %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/accounts/profile/{{User}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/chat/testing/">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#post_history">Post-History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endif %}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Need College Advice?</strong>
            </h1>
              <form autocomplete="off" id = 'form' method='post'>
                {% csrf_token %}
              <div class="form-group">
                {{ form|crispy }}
              </div>
              <div class="form-group">
              </div>
              </form>
          <div class="col-lg-8 mx-auto">
            <button type="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-search"></span> Search 
            </button>
            <p class="text-faded mb-5">Need college advice? Use the search bar to search for your college, city, subject, or whatever you need help for!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/post/">Have advice? Post here!</a>
          </div>
        </div>
      </div>
    </header>

  

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'creative/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'creative/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'creative/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'creative/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'creative/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'creative/js/creative.min.js' %}"></script>

</body>

<!---<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>`

<div class = "main">`
  <form autocomplete="off" id = 'form' method='post'>
  {% csrf_token %}
  {{form}}
  <input id="submit" type="submit" value="Submit">
  <form>
  <!---<input type="text" />
  <input type="submit" value="Search"> -->
<!--</div>-->

<!--</body>-->
</html>
{% endblock %}

