<!DOCTYPE html>
<!---{% extends "home.html" %} -->
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}

{% block body %}
<html lang="en">
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


<head>
  <!---<link rel="stylesheet" href= "{% static 'css/foundation.css' %}">-->
  
  <!-- Bootstrap core CSS -->
  <link href="{% static 'creative/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'creative/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'creative/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'creative/css/creative.min.css' %}" rel="stylesheet">

  <!-- Search Bar -->
  <link href = "{% static 'css/searchbar.css' %}" rel="stylesheet">

  <!-- Bootstrap -->
  <link href = "{% static 'bootstrap/css/bootsrap.css' %}" rel="stylesheet">
</head>


<body id="page-top">


  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/accounts/profile/{{User}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/chat/testing/">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#post_history">Post-History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout/">Logout</a>
            </li>       
          </ul>
        </div>
      </div>
    </nav>
 <header class="masthead text-center text-white d-flex">
<div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">      
{% if owner %}
<!---<link rel="stylesheet" type="text/css" href= "{% static "css/profile.css" %}" />-->
<!---<li><a href="/logout/">Logout</a></li>
<li><a href="/chat/testing/">Testing Chat Room</a><li>
<div class = "grid-x grid-x-padding">
  <div class = "large-3 medium-3 small-3 columns">
    <div class = "grid-x grid-x-padding">
        <div class = "large-6 medium-6 small-6 large-offset-3 medium-offset-3 small-offset-3" id = "pages">
          <p>
            Be centered please!
          </p>
          {% for x in chat_rooms %}
            <p onclick="get_chat('{{x}}')">{{x}}</p>
          {% endfor %}
          <p id = "chats"></p>
        </div>
        {% for x in posts %}
          <p>{{x}}</p>
        {% endfor %}
    </div>
  </div>
  <div class = "large-6 medium-6 small-6 columns"> --->
  <h1>Hi {{name}}!</h1>
  <hr>
  <p class="text-faded mb-5">Email:</p>
  <p class="text-faded mb-5">School:</p>
  <a class="btn btn-primary btn-xl js-scroll-trigger" href="/post/">Have advice? Post here!</a>
  <!---<form action = '/accounts/profile' class = "text-centered" method="post">
    {% csrf_token %}
    {{ form.school.label_tag }}{{ form.school }}
    {{ form.years.label_tag }}{{ form.years }}
    <input type="submit" class = "button rounded">
  </form> --->
  </div>
  <div class = "large-3 medium-3 small-3 columns">
  </div>
</div>
{% else %}
<link rel="stylesheet" type="text/css" href= "{% static "css/profile.css" %}" />
<li><a href="/logout/">Logout</a></li>
<li><a href="/chat/testing/">Testing Chat Room</a><li>
<div class = "grid-x grid-x-padding">
  <div class = "large-3 medium-3 small-3 columns">
    <div class = "grid-x grid-x-padding">
        <div class = "large-6 medium-6 small-6 large-offset-3 medium-offset-3 small-offset-3" id = "pages">
          <div onclick="new_chat()">
            <p id="chat_link" style="display:none;">{{chat_link}}</p>
            <p style="color:while"> Click here to chat with {{prof_first_name}}</p>
          </div>
        </div>
    </div>
  </div>
  <div class = "large-6 medium-6 small-6 columns">
  <h1>{{prof_first_name}} {{prof_last_name}}</h1>
  <p> Not owner of profile </p>
  <form action = '/accounts/profile' class = "text-centered" method="post">
    {% csrf_token %}
    {{ form.school.label_tag }}{{ form.school }}
    {{ form.years.label_tag }}{{ form.years }}
    <input type="submit" class = "button rounded">
  </form>
  </div>
  <div class = "large-3 medium-3 small-3 columns">
  </div>
</div>
{% endif %}
</div>
</div>
</div>
</header>
{% endblock %}
{% block scripts %}
  <script src="{% static "js/profile.js" %}"></script> -->


  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'creative/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'creative/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'creative/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'creative/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'creative/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'creative/js/creative.min.js' %}"></script>

</body>
</html>
{% endblock %}
